{% extends "layout.html" %}

{%block body %}

<h2>
  Welcome to Fer's Bank  
</h2>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="balance">Account balance:</label><br>
  <input type="number" id="lname" name="lname"><br>
  <br>
  <button> Submit </button>
  <br>
  <br>
</form>

<a href="/" ><button> Go home </button></a>

{% endblock %}