{% extends "layout.html" %}

{% block body %}
  <h1>
    Welcome to Fer's Bank
  </h1>
  <div class="vertical-menu">
    <a href="/" class="active"> Home </a>
    <a href="/account.html"> Create account </a>
    <a href="/remove-account.html"> Remove account </a>
    <a href="/see-account.html"> See account </a>
    <a href="/operation.html"> Withdraw/Deposit </a>
    <a href="/reports.html"> Operational Reports </a>
    <a href="/account.html" ><button> Create account </button></a>
  </div>
  
{% endblock %}

